
<div id="login-page">
	<div class="container">
		<h1 class="page-title">ChatiX</h1>
		<div class="login-form">
			<form #form="ngForm" (submit)="onSubmit()">
				<div class="form-group">
					<label for="nickname">Podaj swój nickname</label>
					<input id="nickname" type="text" name="nickname" class="form-control" [(ngModel)]="user.nickname" #nickname="ngModel" required placeholder="Nickname" >
				</div>
				<div class="form-group">
					<label for="color">Wybierz swój kolor</label><br>
					<input class="form-control" id="color" name="color"   [(colorPicker)]="color" [style.background]="color" [value]="color"/>
				</div>
				<div class="form-group">
					<label for="room">Wybierz pokój</label>
					<select id="room" name="room" [(ngModel)]="user.room" #room="ngModel" class="form-control" >
						<option *ngFor="#obj of rooms" [value]="obj.value">{{obj.value}}</option>
					</select>
				</div>
				<button type="submit" [disabled]="form.invalid" class="btn btn-primary">Dołącz do czatu</button>
			</form>
		</div>
	</div>
</div>
