
#chat-page{
  padding: 0 0 50px 0;
}

#chat-page h2{
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

.chat-box{
  position: relative;
}

.chat-header{
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  background: #fafafa;
}

.chat-header h1{
  font-size: 25px;
  color: #555;

}

.chat-header h1 span{
  font-size: 30px;
  color: #000;
}

.chat-header .change-room{
  float: right;
  cursor: pointer;
}

.notify{
  color: #999999;
  font-size: 13px;

}


.notify span{
  font-weight: bold;
}

#messages-list{
  height: 50%;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

#messages-list li{
  overflow: hidden;
  width: 100%;
}

#messages-list li > div{
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  background: #bcd0bd;
  font-size: 14px;
  position: relative;
  margin-top: 15px;
}
#messages-list li .datetime{
  font-size: 11px;
  color: #999;
  position: absolute;
  top: -15px;
  right: 1px;
  font-style: italic
}


#messages-list li .right-msg{
  float: right;
}
#messages-list li .left-msg{
  float: left;
}

#messages-list li .left-msg .datetime{
  right: auto;
  left: 1px;
}



.add-message{
  overflow: hidden;
}

.add-message textarea{
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

.add-message .btn{
  width: 100%;
}

.user-list{
  margin: 20px 0;
}

.user-list ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list ul li{
  list-style: none;
  margin: 10px 0;
  overflow: hidden;

}

.user-list ul li .user-color{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  float: left;
  position: relative;
  bottom: -3px;
  margin-right: 10px;
}


.user-list ul li .user-name{
}