
<div id="chat-page">
  <div class="chat-header">
    <div class="container">
      <div class="change-room">
        <select id="room" [(ngModel)]="selectedRoom" (ngModelChange)="changeRoom()" class="form-control" >
          <option *ngFor="#obj of rooms" [value]="obj.value">{{obj.value}}</option>
        </select>
      </div>
      <h1>Pokój: <span>{{ selectedRoom }}</span></h1>
    </div>
  </div>

  <div class="container">


    <div class="row">
      <div class="col-sm-9">
        <h2>Chat</h2>
        <div class="chat-box">
            <ul id="messages-list" class="message"></ul>
            <div class="add-message">
              <textarea id="message-boxID" placeholder="Wpisz treść wiadomości" #message (keyup)="sendMessageOnEnter($event, message)"  (keydown)="update()" autocomplete="off" autofocus required></textarea>
              <button class="send btn btn-primary" (click)="sendMessage(message)">Wyślij</button>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <h2>Użytkownicy</h2>
        <div class=user-alert>
          <div class="notify user-joined" *ngIf="newUser">
            <span>{{newUserName}}</span> dołączył do czatu
          </div>
          <div class="notify user-out" *ngIf="exitedUser">
            <span>{{exitedUserName}}</span> opuścił czat
          </div>
        </div>
        <div class="user-list">
          <ul class="user-list-ul">
            <li *ngFor="let user of clientsNameList" class="user-list__item">
                <div class="user-color" [style.background]="user.color"></div>
                <div class="user-name">{{user.nickname}}</div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</div>
